html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
    scrollbar-width: none;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    background-image: url(/img/ang3.png);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.cssbody {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    margin-top: 0.5rem;
    background-color: rgba(255, 255, 255, 0.5); /* Fondo semi-transparente */
    padding: 70px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    z-index: 2;
}

body a {
    font-size: 2.7rem;
    text-decoration: none;
    color: #007bff;
    background-color: transparent;
    position: absolute;
    top: 5%;
    left: 5%;
}

h1 {
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input, select {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.7); /* Fondo semi-transparente para los inputs */
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
